###> develop ###
.idea/
/extra/
.scannerwork/
#sonar-project.properties
#sonar-project.properties_
deptrac
/docker
docker-compose.yml
###< develop ###
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
/bin/.phpunit
###< symfony/phpunit-bridge ###
