includes:
    - phpstan-baseline.neon

parameters:
    level: 5

    bootstrapFiles:
        - ./vendor/bin/.phpunit/phpunit-9.6-0/vendor/autoload.php
    #scanDirectories:
        #- ./vendor/bin/.phpunit/phpunit-9.5-0/src
    paths:
        - albomon/core/src
        - albomon/core/tests
        - albomon/catalog/src
        - albomon/catalog/tests

    ignoreErrors:
        #- '##'


    excludePaths:
        - '*/vendor/*'
        - '*/extra/*'

        # REMOVE dopo installazione di phpstan/phpunit
        - 'albomon/core/tests/Application/MonitorApplicationService/MonitorApplicationServiceTest.php'
        