#   UPDATE BASELINE FLE COMMAND
#   vendor/bin/phpstan analyse --level 5 --configuration phpstan.neon.dist --generate-baseline

includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - albomon/core/src
        - albomon/core/tests
    excludes_analyse:
        - '*/vendor/*'
        - '*/extra/*'
        - '*/vendor-bin/*'
    bootstrapFiles:
        - bin/.phpunit/phpunit/vendor/autoload.php
    symfony:
        container_xml_path: var/cache/test/srcApp_KernelTestDebugContainer.xml
        constant_hassers: false
    ignoreErrors:
        #- '##'


