#includes:
    #- vendor/phpstan/phpstan-phpunit/extension.neon
    #- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    autoload_files:
        - bin/.phpunit/phpunit-6.5/vendor/autoload.php
    paths:
        - albomon/core/src
        - albomon/core/tests

    ignoreErrors:
        #- '##'
        - '#Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface::section().#'
        #- '##'



    excludes_analyse:
        - '*/vendor/*'
        - '*/extra/*'

        # REMOVE dopo installazione di phpstan/phpunit
        - 'albomon/core/tests/Application/MonitorApplicationService/MonitorApplicationServiceTest.php'

        # REMOVE
        - 'albomon/src/Infrastructure/UI/Cli/Command/CheckAlboListComand.php'
        