parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$title might not be defined\\.$#"
			count: 1
			path: albomon/catalog/src/Adapter/MarkdownToCatalogItemConverter.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: albomon/catalog/tests/GithubDataReaderTest.php

		-
			message: "#^Property Albomon\\\\Core\\\\Infrastructure\\\\UI\\\\Cli\\\\Command\\\\CheckAlboPopCatalogCommand\\:\\:\\$reportDir is never read, only written\\.$#"
			count: 1
			path: albomon/core/src/Infrastructure/UI/Cli/Command/CheckAlboPopCatalogCommand.php

		-
			message: "#^Property Albomon\\\\Core\\\\Infrastructure\\\\UI\\\\Cli\\\\Command\\\\CheckCustomCatalogCommand\\:\\:\\$reportDir is never read, only written\\.$#"
			count: 1
			path: albomon/core/src/Infrastructure/UI/Cli/Command/CheckCustomCatalogCommand.php

		-
			message: "#^Trying to mock an undefined method log\\(\\) on class Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\.$#"
			count: 1
			path: albomon/core/tests/Infrastructure/UI/Cli/CliLogger/CliLoggerTest.php

		-
			message: "#^Missing call to parent\\:\\:tearDown\\(\\) method\\.$#"
			count: 1
			path: albomon/core/tests/Infrastructure/UI/Cli/Command/CheckFeedCommandTest.php
